body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 30px 40px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-center img {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.intro-vid{
  height: 790px;
  width: 100%;
  background-color: cadetblue;
}


