body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 30px 40px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-center img {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.intro-vid {
  height: 790px;
  width: 100%;
}
.showcase {
  margin-top: 350px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.first,
.second,
.third,
.fourth {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-basis: 300px;
  
}

.showcase .quote {
  margin-top: 0px;
}
.showcase button {
  height: 50px;
  width: 150px;
  color: #ddd;
  background-color: black;
  font-size: 19px;
  padding: 10px;
  margin-bottom: 30px;
}

.variety {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px;
}

.crousel {
  flex: 1;
  width: 800px !important;
  height: 400px !important;
}
